
<% if @tasks %>
  <% @tasks.each do |task| %>
    <article class="floating">
        <section class="card-head">
          <strong> <h3><%= task.task %></h3></strong>
        </section>
        <div>
          <strong>Belongs To</strong> : <%= @person.name %>
        </div>
        <div class="pad-text">
          <strong>Priority</strong> : <div class="<%= task.priority %>"><%= task.priority %></div>
        </div>
        <div class="pad-text">
          <strong>Status</strong> : <%= task.status %> <br/>
        </div>
        <div class="pad-text">
          <strong>Date Created</strong> : <%= task.created_at %> <br/>
        </div>
        <div class="pad-text">
          <strong>Due Date</strong> : <%= task.due_date %> <br/>
        </div>
        <div class="pad-text">
          <strong>Comments</strong> : <%= task.comments %> <br/>
        </div>
        <div class="pad-text">
          <strong>Date Completed</strong> : <%= task.date_completed %>
        </div>
      <% end %>
    </article>
<% end %>
