<h1>GET TO WORK!</h1>


  <% @tasks.each do |task| %>
  <div class = "task show <%= task.completed.nil? ? 'completed' : 'notdone' %>">
      <span>Task:<%= task.name %><br></span>
       Description:<%= task.description %><br>
       <% if !task.priority.nil? %>
          Priority: <%= task.priority %>
       <% end %>
       <% if !task.completed.nil? %>
          Completed: <%= task.completed %>
       <% end %>
  </div>
    <% end %>
