<h1 class="person"><%= @person.name %></h1>
<h2>Incomplete Tasks: <%= Task.where(person_id: @person.id, completed_at: nil).count %></h2>

<% tasks = Task.where(person_id: @person.id, completed_at: nil) %>
<% tasks.each do |task| %>
	<li class="even-task">
		<span class="task-title"><%= task.id %>. <%= task.name.capitalize %></span><br>
		<span class="task-desc"><%= task.description %></span><br>
	</li>
<% end %><br>

<h2>Completed Tasks: <%= Task.where(person_id: @person.id).where.not(completed_at: nil).count %></h2>

<% tasks = Task.where(person_id: @person.id).where.not(completed_at: nil) %>
	<% tasks.each do |task| %>
		<li class="completed-task">
				<span class="task-title"><%= task.id %>. <%= task.name.capitalize %></span><br>
				<span class="task-desc"><%= task.description %></span><br>
	 			<span class="completion"><span class="bold-text">Completed On:</span> <%= task.completed_at %></span><br>
		</li>
	<%end%>