
<%= params %>

<% task ||= @tasks %>
<% task.each do |task|%>
  <% @status = task.status %>

  <div class = "<%= @status[0] %> task-box">
    <div class = "task-info">
      <%= link_to "/tasks/#{task.id}" do %>
        <h2 class="title"><%=task.title%></h2>
      <% end %>
      <p class="description">
        <%= task.description %>
      </p>
      <%= task.completed_at %>
    </div>

    <a href= '/<%= @status[1] %>/<%=task.id%>'>
      <div class = "checkbox"></div>
    </a>

    <div class = "task-edits">
      <a href='/create-task/<%= task.id %>'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <%#ADD NUMBER SPECIFICTY in iteration%>
      <%= button_to "/tasks/#{task.id}", class: "task-edits-buttons", method: :delete do %>
        <i class="fa fa-trash" aria-hidden="true"></i></a> <%#ADD NUMBER SPECIFICTY in iteration%>
      <% end %>
    </div>
  </div>

<%end%>
