
<% task ||= @tasks %>
<% task.each do |task|%>
  <% @status = task.status %>

  <div class = "<%= @status[0] %> task-box">
    <div class = "task-info">
      <%= link_to "/tasks/#{task.id}" do %>
        <h2 class="title"><%=task.title%></h2>
      <% end %>
      <p><%= task.person.name if task.person %></p>
      <p class="description">
        <%= task.description %>
      </p>
      <%= task.completed_at %>
    </div>

    <%= link_to "tasks/#{task.id}/#{@status[0]}", method: :patch do %>
      <div class = "checkbox"></div>
    <% end %>

    <div class = "task-edits">
      <%= link_to "/tasks/#{task.id}/edit" do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
      <%= button_to "/tasks/#{task.id}", class: "task-edits-buttons", data: {confirm: "Are you sure you want to delete permanently?"}, method: :delete do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

<%end%>
