<section class="card-head">
  <strong> <h3 class="link"><%= link_to task.task, task_path(task.id) %></h3></strong>
</section>
<div>
  <strong>Belongs To</strong> : <%= task.person.name %>
</div>
<div class="pad-text">
  <strong>Priority</strong> : <div class="<%= task.priority %>"><%= task.priority %></div>
</div>
<div class="pad-text">
  <strong>Status</strong> : <%= task.status %> <br/>
</div>
<div class="pad-text">
  <strong>Date Created</strong> : <%= task.created_at.strftime("%m-%e-%y %H:%M") %> <br/>
</div>
<div class="pad-text">
  <strong>Due Date</strong> : <%= task.due_date == nil ? "" : task.due_date.strftime("%m-%e-%y %H:%M") %> <br/>
</div>
<div class="pad-text">
  <strong>Comments</strong> : <%= task.comments %> <br/>
</div>
<div class="pad-text">
  <strong>Date Completed</strong> : <%= task.date_completed == nil ? "" : task.date_completed.strftime("%m-%e-%y %H:%M")  %>
</div>

<%= button_to "Edit", task_path(task.id)+"/edit", :class => "btn", :method => :get %>

<%= form_tag(task_path(task.id), method: "delete", data: {confirm: "Are you sure?"}) do %>
  <%= submit_tag "Delete", class: "btn" %>
<% end %>
