<h1 class="task-title"><%= @task.id %>. <%= @task.name %></h1>

<p class="task-description"><%= @task.description %></p>

<p class="task-footer">Priority: <%= @task.priority %><br>
	Completed at: <%= @task.completed_at %></p>

<p> <%= link_to "Edit This Task?", task_path(@task.id) %></p>
