<h1>Let's edit your task!</h1>

<pre><%=params%></pre>

<%= form_for @task do |f| %>
  <li><%= f.label :name %>
  <%= f.text_field :name%></li>
  <li><%= f.label :description %>
  <%= f.text_field :description%></li>
  <li><%= f.label :person_id %>
  <%= f.collection_select(:person_id, Person.all, :id, :name) %></li>
  <%= f.submit %>
<%end%>