<h2>Edit Task</h2>

<%= form_for @edit, method: :post, url: edit_update_path(@edit) do |f| %>
	<%= f.label :'Title:' %>
	<br>
	<%= f.text_field :title, class: 'field' %>
	<br>
	<%= f.label :'Description:' %>
	<br>
	<%= f.text_field :description, class: 'field' %>
	<br>
	<%= f.submit %>
	<% end %>
