<h1>Edit Your Task</h1>
<h2><a class='task_button' href='/tasks'>Home</a></h2>
<h2><a class='task_button' href='/tasks/new'>Add a Task</a></h2>
<h2><a class='task_button' href='/people'>All Task Owners</a></h2>

<%= form_for @task, method: :patch, url: task_update_path(@task)  do |f| %>
<table>
	<td><%= f.label :name %>
  <%= f.text_field :name, :placeholder => "#{@task.name}" %></td>
  <td><%= f.label :description %>
  <%= f.text_field :description %></td>
  <td><%= f.label :owner %>
  <%= f.collection_select :person_id, Person.all, :id, :name %></td>
  <td><%= f.submit %></td>
<% end %>
<table>



