<h1> Test!</h1>
<pre><%= params %><pre>
<%= @task %>
<%= @task.class %>

<%= form_for @task, method: :patch, url: task_update_path(@task)  do |f| %>
	<%= f.label :name %>
  <%= f.text_field :name, :placeholder => "#{@task.name}" %>
  	<%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :owner %>
  <%= f.collection_select :person_id, Person.all, :id, :name %>
  <%= f.submit %>
<% end %>



