<h2>To Do:</h2>

<ul class="list-tasks">

<%# loop through all tasks and display task titles %>
<% @tasks.each do |task| %>
  <li class="task-tile <%= "complete" if task.complete == true %>">

    <%= link_to task.title, task_path(task.id), class: "single-task"%>
    <%= link_to Person.find(task.person_id).name, person_path(task.person.id) unless task.person_id.nil? %>

    <% if task.complete != true %>
    <%# if the task is not complete, we give the option to mark complete %>
      <%= form_for task do |f| %>
      <%# i have no freaking idea how this works, but I wanted to use the update action to mark the task completed instead of making a new action and this got the information I wanted to update into my params hash %>
          <%= f.hidden_field :completed_at, value: DateTime.now %>
          <%= f.hidden_field :complete, value: true %>
          <%# okay to not have an f.submit? %>
          <%= f.submit "COMPLETE", data: { confirm: "Good job! Task completed :)." } %>
      <% end %>

    <% else %>
    <%# task is complete and so we give the user the option to mark incomplete %>
      <%= form_for task do |f| %>
          <%= f.hidden_field :completed_at, value: nil %>
          <%= f.hidden_field :complete, value: false %>
          <%= f.submit "INCOMPLETE"%>
      <% end %>
    <% end %>

    <%= link_to "EDIT", edit_task_path(task.id) %>

    <%# use button to because we are not on a get path %>
    <%= button_to "DELETE", task_path(task.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>

  </li>

<% end %>

</ul>
