<h3>Tasks To Do</h3>
  <div class="tasks_to_do">
    <ul>
        <%@show_all.each do |entry| %>
          <%if entry.completed == nil%>
          <li>
            <%= link_to entry.title, "/task/#{entry.title}" %><br>
            <%="description: #{entry.description}"%><br>
            <%="completed at: #{entry.completed}" %><br>
            <%= button_to "Delete task", delete_path(entry.id), method: :delete, data: {confirm: "Are you sure?"} %>
            <%= button_to "Mark complete", "/tasks/#{entry.id}/complete", method: :patch %>
            <%= button_to "Edit", "/tasks/#{entry.id}/edit", method: :get %>
          <%end%>
        </li>
        <%end%>
    </ul>
  </div>


<span class="spacer">
  <br></br>
</span>

<h3>Completed Tasks</h3>
  <div class="completed_tasks">
    <ul>
        <%@show_all.each do |entry|%>
          <%if entry.completed != nil%>
          <li>
            <%=link_to entry.title, "/task/#{entry.title}"%><br>
            <%="description: #{entry.description}"%><br>
            <%="completed at: #{entry.completed}"%><br>
            <%=button_to "Delete task", delete_path(entry.id), method: :delete, data: {confirm: "Are you sure?"}%>
            <%= button_to "Edit", "/tasks/#{entry.id}/edit", method: :get %>
          <%end%>
        </li>
        <%end%>
    </ul>
  </div>
