<%= link_to "Add A Task", tasks_new_path %>

<% @tasks.each do |task| %>

		<% if task.id % 2 == 0 %>

			<li class="even-task">
				<span class="task-title"><%= task.id %>. <%= task.name.capitalize %></span><br>
				<span class="task-desc"><%= task.description %></span><br>
				<span class="bold-text">Belongs to: <%= Person.find(task.person_id).name  %></span><br>
	 			<span class="completion"><span class="bold-text">Completed On:</span> <%= task.completed_at %></span><br>
	 			<%= link_to "Show Details?", show_path(task.id) %><br>
	 			
	 			<%= button_to "delete", 
        {:controller => :tasks, :action => 'delete', :id => task.id }, 
        :method => :delete, data: { confirm: "Are you sure?" } %>
			</li>

			<% else %>

			<li class="odd-task">
				<span class="task-title"><%= task.id %>. <%= task.name.capitalize %></span><br>
				<span class="task-desc"><%= task.description %></span><br>
				<span class="bold-text">Belongs to: <%= Person.find(task.person_id).name   %></span><br>
	 				
	 			<%= link_to "Show Details?", show_path(task.id) %>
	 				      <%= button_to "delete", 
        {:controller => :tasks, :action => 'delete', :id => task.id }, 
        :method => :delete, data: { confirm: "Are you sure?" } %>
		 	</li>
		<% end %>

<% end %>