<div class="tasks_to_do">
    <ul>
      <li>
        <h3>Tasks To Do</h3>
        <%@show_all.each do |entry| %>
          <%if entry.completed == nil%>
            <%= link_to entry.title, "/tasks/#{entry.id}" %><br>
            <%="description: #{entry.description}"%><br>
            <%="completed at: #{entry.completed}" %><br>
            <%="owner: #{Person.find(entry.person_id).first_name}" %><br>
            <%= button_to "Delete task", delete_path(entry.id), method: :delete, data: {confirm: "Are you sure?"} %>
            <%= button_to "Mark complete", "/tasks/#{entry.id}/complete", method: :patch %>
            <%= button_to "Edit", "/tasks/#{entry.id}/edit", method: :get %>
            <br>
          <%end%>
        <%end%>
      </li>
    </ul>
</div>

<span class="spacer">
  <br></br>
</span>

<div class="completed_tasks">
  <ul>
    <li>
      <h3>Completed Tasks</h3>
        <%@show_all.each do |entry|%>
          <%if entry.completed != nil%>
            <%=link_to entry.title, "/tasks/#{entry.id}"%><br>
            <%="description: #{entry.description}"%><br>
            <%="completed at: #{entry.completed}"%><br>
            <%="owner: #{Person.find(entry.person_id).first_name}" %><br>
            <%=button_to "Delete task", delete_path(entry.id), method: :delete, data: {confirm: "Are you sure?"}%>
            <%= button_to "Edit", "/tasks/#{entry.id}/edit", method: :get %>
            <br>
          <%end%>
        <%end%>
    </li>
  </ul>
</div>
