<span class="add_link"><%= link_to " » Add New Task « ", tasks_new_path %></span>

<ul class="tasklist">
<% @all_tasks.each do |task|  %>
  <% if !task.completed_at.nil? %>
    <li class="complete">
  <% else %>
    <li class="incomplete">
  <% end %>
      <%= link_to task.name, task_path(task.id) %><br>

      <span class="person_name">
        <%= @all_people.find(task.person_id).name %>
      </span>

      <ul class="options">
        <% # so that the DONE! button only shows up if it's still incomplete %>
        <% if task.completed_at.nil? %>
          <% # this button's name attribute is so I can identify when the request is coming from the DONE! button as opposed to the edit form  %>
          <li><%= button_to "DONE!", task_path(task.id), method: :patch, name: "done" %></li>
        <% end %>
        <li><%= link_to "Edit", edit_task_path(task.id) %></li>
        <li>
          <%= link_to "Delete", task_path(task.id), method: :delete,
          data: { confirm: 'Are you sure you want to delete this task?' } %>
        </li>
      </ul>
    </li>
<% end %>
</ul>
