<div class="tasks_to_do">
  <ul>
    <li>
      <%= form_for @task do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.label :Person %>
        <%= f.select "person_id", options_from_collection_for_select( @all_people , "id", "first_name", "last_name") %><br>
        <%= f.submit %>
      <% end %>
    </li>
  </ul>
</div>
