<div class= "create-task">

<%= form_for @task do |f| %>
  Adventure:
  <%= f.label :task do %>
    <%= f.text_field :task, placeholder: "PUPPIES" %>
    <%end%>
    Description:
    <%= f.label :description do %>
      <%= f.text_area :description, placeholder: "Description" %>
    <%end%>
    <div class = "radio-butts">
    For:
    <%= radio_button_tag(:person_id, 1) %>
      <%= label_tag(:name, "Finn") %>
      <%= radio_button_tag(:person_id, 2) %>
        <%= label_tag(:name, "Jake") %>
        <%= radio_button_tag(:person_id, 3) %>
          <%= label_tag(:name, "PB") %>
          <%= radio_button_tag(:person_id, 4) %>
            <%= label_tag(:name, "BMO") %>
          </div>
          <br />
  <%= f.submit %>
<% end %>
</div>
