<h2 class="forms">Create a New Task</h2>

<%= form_for @task do |f| %>
	<%= f.label :'Title:' %>
	<br>
	<%= f.text_field :title, class: 'field' %>
	<br>
	<%= f.label :'Description:' %>
	<br>
	<%= f.text_field :description, class: 'field' %>
	<br>
	<%= f.submit %>
	<% end %>
