<pre><%= params %><pre>
<h1> Let's make a new task</h1>

<%= form_for @task do |f| %>
	<%= f.label :name %>
  <%= f.text_field :name %>
  	<%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<!-- <form class="new_album" id="new_album" action="/albums" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="authenticity_token" value="atr2Gl2jJpe7sN9eAz9npBk1T4FYMcPeFI5xcMDSBDVwtrcnCfl4aHWpFmlrbSm/zF0wd0VUbx6d4Id/h5rjfg==" />

  <label for="album_title">Title</label>
  <input type="text" name="album[title]" id="album_title" />

  <input type="submit" name="commit" value="Create Album" />
</form> -->



<!-- <form  action="/products" class="new_product" id="new_product" method="post">

</form> -->