<h2 class="forms">Create a New Task</h2>

<%= form_for @task do |f| %>
	<%= f.label :'Title:' %>
	<br>
	<%= f.text_field :title, class: 'field' %>
	<br>
	<%= f.label :'Description:' %>
	<br>
	<%= f.text_field :description, class: 'field' %>
	<br>

<%= f.label :'Assign to:' %>
<br>
 <%= f.select(:person_id) do %>
 	<%= options_from_collection_for_select(Person.all, :id, :name) %>
<% end %>
 <br>
	<%= f.submit %>
	<% end %>
