<%= params %>
<section class="create-task">
  <h2>Create New Task</h2>


  <%= form_for @task do |f| %>
    <%= f.label :title do %>
      <%= f.text_field :title, placeholder: "Buy a dozen puppies"  %>
    <% end %>

    <%= f.label :description do %>
      <%= f.text_area :description, placeholder: "An optional description of the task", rows: "10", cols: "50" %>
    <% end %>

    <%= f.submit %>
  <% end %>


</section>
