<h2> Add Your Task </h2>

<%= form_for @new_task do |f| %>
  <%= f.label :task_name %>
  <%= f.text_field :task_name, :required => true %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :status %>
  <%= f.text_field :status %>

  <%= f.label :due_date %>
  <%= f.text_field :due_date %>

  <%= f.submit %>
<% end %>

<a href='/'>See task list again...</a>
