
<%if @lookup%>
  Task: <%= @lookup.title %>
  Description:<%= @lookup.description %>
  Date Added: <%=@lookup.created_at %>
  Complete? <%= %>

  <%else%>
  <%= form_for @lookup do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit %>
  <% end %>
<%end%>

<!-- <fieldset>
  <legend></legend>
  <form action="/task/:title" method="post" accept-charset="utf-8">
    <h3>Task:</h3>
    <label for="title"></label>
    <input class="input_area" type="text" name="title" value="" id="title">

    <h3>Description:</h3>
    <label for="description"></label>
    <input class="input_area" type="text" name="description" value="" id="description">

    <br>
    <input id= "add" class="button" type="submit" value="Find">
  </form>
</fieldset> -->
