<div class="tasks_to_do">
  <ul>
    <li>
      <%="task: #{@task.title}"%><br>
      <%="description: #{@task.description}"%><br>
      <%="completed at: #{@task.completed}"%><br>
      <%="owner: #{Person.find(@task.person_id).first_name}" %><br>
    </li>
    <li>
      <%=button_to "Delete task", delete_path(@task.id), method: :delete, data: {confirm: "Are you sure?"}%>
      <%= button_to "Edit", "/tasks/#{@task.id}/edit", method: :get %>
    </li>
  </ul>
</div>
