<% @tasks.each do |task|%>
  <% if task.completed_at == nil %>
  <div class = "uncomplete task-box">
    <div class = "task-info">

    <%= link_to "/tasks/#{task.id}" do %>
      <h2 class="title"><%=task.title%></h2>
    <% end %>

    <p class="description">
      <%=task.description %>
    </p>
    </div>

    <a href= '/completed/<%=task.id%>'><div class = "checkbox">
    </div></a>

  <%#put checkbox here!%>
  <%# <form><input type="hidden" name="id" value="<%=task.id >"></form> %>
  <div class = "task-edits">

    <a href='/create-task/<%=task.id%>'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <%#ADD NUMBER SPECIFICTY in iteration%>
    <a href='/delete-task/<%=task.id%>'><i class="fa fa-trash" aria-hidden="true"></i></a> <%#ADD NUMBER SPECIFICTY in iteration%>
  </div>
  </div>
  <%end%>
<%end%>

<% @tasks.each do |task|%>
  <% if task.completed_at != nil %>
  <div class = "completed task-box">
    <div class = "task-info">

    <%= link_to "/tasks/#{task.id}" do %>
      <h2 class="title"><%=task.title%></h2>
    <% end %>

    <p class="description">
      <%= task.description %>
    </p>
    </div>

    <a href= '/uncompleted/<%=task.id%>'><div class = "checkbox">
    </div></a>

  <%#put checkbox here!%>
  <%# <form><input type="hidden" name="id" value="<%=task.id >"></form> %>
  <div class = "task-edits">

    <a href='/create-task/<%=task.id%>'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <%#ADD NUMBER SPECIFICTY in iteration%>
    <a href='/delete-task/<%=task.id%>'><i class="fa fa-trash" aria-hidden="true"></i></a> <%#ADD NUMBER SPECIFICTY in iteration%>
  </div>
  </div>
  <%end%>
<%end%>
</section>
