<h1>New Form</h1>

<%= form_for @tasklist do |f| %>
<%= f.text_field :title %>
  <%= f.label :title %>
  <%= f.text_field :description %>
    <%= f.label :description %>
  <%= f.label :Person %>
 <%= f.select "person_id", options_from_collection_for_select( @all_people , "id", "name"), :include_blank => true %><br>
  <%= f.submit %>
<% end %>
<%= link_to "home", root_path%
