<h1>New Form</h1>

<%= form_for @tasklist do |f| %>
<%= f.text_field :title %>
  <%= f.label :title %>
  <%= f.text_field :description %>
    <%= f.label :description %>
  <%= f.submit %>
<% end %>
<%= link_to "home", root_path%
