<section class="add-center">
  <div class="add-floating">

    <%= form_for @task do |f| %>
      <%= f.label :task %>
      <%= f.text_field :task %>

      <%= f.label :priority %>
      <%= f.radio_button :priority, 'urgent' %>
      <%= f.radio_button :priority, 'medium' %>
      <%= f.radio_button :priority, 'low' %>

      <%= f.label :due_date %>
      <%= f.text_field :due_date %>

      <%= f.label :comments %>
      <%= f.text_field :comments%>

      <%=f.submit %>
    <% end %>

    <!-- <form action="/create" method="post" accept-charset="utf-8">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class ="item-task">
    <label class="add-task" for="task">Task</label>
    <input type="text" name="task" value="" id="task" maxlength="16"/>
  </div>
  <div class="item">
  <label class="add-priority" for="priority">Priority</label>
  <fieldset>
  <label class = "radio"><input  type="radio" name="priority" value="urgent"/>Urgent</label>
  <label class = "radio"><input type="radio" name="priority" value="medium"/>Medium</label>
  <label class = "radio"><input type="radio" name="priority" value="low"/>Low</label>
</fieldset>
</div>
<div class="item">
<label for="due_date">Due Date</label>
<input type="text" name="due_date" value="" id="due_date"/>
</div>
<div class="item">
<label for="comments">Comments</label>
<input type="text" name="comments" value="" id="comments" maxlength="105"/>
</div>
<input type="submit" value="Add Task">
</form> -->

  </div>
</section>
