<h2>To Do:</h2>

<ul class="list-tasks">

<%# loop through all tasks and display task titles %>
<% @tasks.each do |task| %>
  <li class="task-tile">

    <%= link_to task.title, task_path(task.id), class: "single-task"%>

    <%= form_for task do |f| %>
    <%# i have no freaking idea how this works. %>
        <%= f.hidden_field :completed_at, value: DateTime.now %>
        <%= f.hidden_field :complete, value: true %>
        <%= f.hidden_field :updated_at, value: DateTime.now %>
        <%= f.submit "COMPLETE"%>
    <% end %>

    <%= link_to "EDIT", edit_path(task.id) %>

    <%= link_to "DELETE", task_path(task.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>

  </li>

<% end %>

</ul>
