<header>
  <a href="" class="add_button">Add a task!</a>
</header>


<% if @tasks %>
<h1 class="WHOOT">Tasks</h1>
  <section>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Completed Date</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= 'completed' unless task.completed_at.nil? %>">
          <td><%= link_to task.title, "/#{task.id}" %></td>
          <td><%= task.description %></td>
          <td><%= task.completed_at %></td>
          <td class="edit_delete"><a href="/tasks/<%= task.id %>/edit">Edit/Delete</a></button></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
<% end %>
