<% if @tasks %>
<h1 class="WHOOT">Tasks</h1>
  <section class="table">
    <table>
      <thead>
      <tr>
        <th class: "completed-check"></th>
        <th>Title</th>
        <th>Description</th>
        <th>Completed Date</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= 'completed' if task.completed_at %>">
          <td class: "completed-check">
          <%= button_to "❍", task, method: "patch", params: {id: task.id, "task[completed_at]" => Time.now}, class: "done-button" if task.completed_at.nil? %>
          <%= button_to "✓", task, method: "patch", params: {id: task.id, "task[completed_at]" => nil}, class: "done-button" if task.completed_at %>
          </td>
          <td><%= link_to task.title, task_path(task.id) %></td>
          <td><%= task.description %></td>
          <td><%= task.completed_at %></td>
          <td>
            <%= link_to task_edit_path(task.id) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </td>
          <td>
            <%= link_to task_delete_path(task.id), method: :delete, data: {confirm: 'Are you sure you want to delete this task?'} do %>
              <i class="fa fa-times-circle"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
<% end %>
