<%= link_to "Add a New Task", task_path("add") %>

<!-- <a href="/task/add">Add a new task</a> -->
<a href="/priority/DESC">Sort by Priority</a>
<a href="/status/DESC">Sort by Status</a>
<a href="/due_date/ASC">Sort by Due Date</a>

  <article>
    <% if @all_tasks %>
    <% @all_tasks.each do |task| %>
    <section>
      <div class="floating <%= task.status == 'Completed' ? 'completed' : '' %>">
        <!-- if task.complete != null (or like that) show else take out checkbox -->
        <%= form_tag(task_path(task.id), method: "patch") do %>
          <%= image_submit_tag "checkmark.png", alt: "Checkbox to mark task completed", class: (task.status != "Completed" ? "checkmark" : "invisible") %>
          <%= hidden_field(:task, :status, :value => "Completed") %>
        <% end %>
        <% if task.status == "Completed" %>
          <%  %>
        <% end %>

        <section class="card-head">
          <strong> <h3 class="link"><%= link_to task.task, task_path(task.id) %></h3></strong>
        </section>
        <div>
          <strong>Priority</strong> : <div class="<%= task.priority %>"><%= task.priority %></div>
        </div>
        <div>
          <strong>Status</strong> : <%= task.status %> <br/>
        </div>
        <div>
          <strong>Date Created</strong> : <%= task.created_at %> <br/>
        </div>
        <div>
          <strong>Due Date</strong> : <%= task.due_date %> <br/>
        </div>
        <div>
          <strong>Comments</strong> : <%= task.comments %> <br/>
        </div>
        <div>
          <strong>Date Completed</strong> : <%= task.date_completed %>
        </div>

        <%= button_to "Edit", task_path(task.id)+"/edit", :class => "btn", :method => :get %>

        <!-- <a href="/edit/<%= task.id %>" class="btn">Edit</a> -->
        <!-- Instead of a button, added a ahref above <section class="action-buttons">
          <form action="/edit/<%= task.id %>" method "get">
            <input type="submit" value = "edit"> -->
            <!-- <input type="hidden" name= 'id' value="<%= task.id%>"> -->
          <!-- </form> -->

          <%= form_tag(task_path(task.id), method: "delete", data: {confirm: "Are you sure?"}) do %>
            <%= submit_tag "Delete", class: "btn" %>
          <% end %>

        </section>
      </div>
    </section>
    <% end %>
    <% end %>
  </article>
