<p>Find me in app/views/tasks/new.html.erb</p>

<pre>
  <%= params %>
</pre>

    <%= form_for @single_task do |f| %>
    <!-- use the instance to give form_for all the information they need to know about tasks! -->
      <%= field_set_tag 'Add Task' do %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.submit %>

      <% end %>
    <% end %>
