<div class="task-container">
  <div class="task-item">
    <%= @tasks.task_name %><br/>
    <%= @tasks.task_description %><br/>
    <%= @tasks.task_completion %><br/>
    <%= button_to "edit", 
      {:controller => :tasks, :action => 'edit', :id => @tasks.id }, 
      :method => :get %>
    <%= button_to "delete", 
      {:controller => :tasks, :action => 'delete', :id => @tasks.id }, 
      :method => :delete, data: { confirm: "Are you sure?" } %>
    <%= button_to "complete", 
      {:controller => :tasks, :action => 'complete', :id => @tasks.id }, 
      :method => :post, data: { confirm: "Are you sure?" } %>
  </div>
</div>

