<!-- <a href="/add">Add a new task</a>
<a href="/priority/DESC">Sort by Priority</a>
<a href="/status/DESC">Sort by Status</a>
<a href="/due_date/ASC">Sort by Due Date</a> -->

  <article>
    <section>
      <div class="big-card">
        <section class="card-head">
          <strong> <h3><%= @task.task %></h3></strong>
        </section>
        <div class="pad-text">
          <strong>Priority</strong> : <div class="<%= @task.priority %>"><%= @task.priority %></div>
        </div>
        <div class="pad-text">
          <strong>Status</strong> : <%= @task.status %> <br/>
        </div>
        <div class="pad-text">
          <strong>Date Created</strong> : <%= @task.created_at %> <br/>
        </div>
        <div class="pad-text">
          <strong>Due Date</strong> : <%= @task.due_date %> <br/>
        </div>
        <div class="pad-text">
          <strong>Comments</strong> : <%= @task.comments %> <br/>
        </div>
        <div class="pad-text">
          <strong>Date Completed</strong> : <%= @task.date_completed %>
        </div>
        <section class="action-buttons">

          <a href="/edit/<%= @task.id %>" class="btn">Edit</a>

          <!-- <form action="/edit/<%= @task.id %>" method "get">
            <input type="submit" value = "edit"> -->
            <!-- <input type="hidden" name= 'id' value="<%= @task.id%>"> -->
          <!-- </form> -->
          <form action="/delete" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <input class="btn" type="submit" value="Delete" onclick="return confirm('Are you sure?')"/>
            <input type="hidden" name="id" value="<%= @task.id %>"/>
          </form>

          <!-- <form action="/delete" method="post">
            <input type="submit" value="Delete" onclick="return confirm('Are you sure?')"/>
            <input type="hidden" name="id" value="<%= @task.id %>"/>
          </form> -->
        </section>
      </div>
    </section>
  </article>
