<h1 class = "Bytitle">Task List</h1>


<section class="more_info"

   <%=@all_tasklist.title%>
 </li>
   <li class= "description">
     <%=@all_tasklist.description%>
   </li>

   <li>
     <%=@all_tasklist.completed_at%>
   </li>

   <li>
     <%if @all_tasklist.person != nil%>
     <%=@all_tasklist.person.name%>
     <%end%>

   </li>
   <li>
     <%= link_to "home", root_path%>
   </li>
</li>

<%# I didn't need the each because it only returned one thing and wasn't an array"%>

</ul>
</section>
