<!DOCTYPE html>
<html>
<head>
  <title>Tasklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# font-awesome for icons instead of images %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>

    <h1>My Tasklist!</h1>
    <nav class="user-choice">
      <%= link_to "Add Task", "/tasks/new", class: "link" %>

    </nav>
  </header>


<%= yield %>

</body>
</html>
