<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
  <header>

  </header>
  <section class="container">
    <img class="tackl" src = "/assets/tack_left.jpg">
    <img class="tackr" src = "/assets/tack.jpg">
    <section class="top_page">
      <div class="title center"> TO-DO LIST </div>
      <nav class="main_nav">
        <ul class>
          <li> <%= link_to 'All tasks', '/' %></li>
          <li> <%= link_to 'People', '/people' %> </li>
        </ul>
      </nav>
    </section>
    <section class="content">
      <%= yield %>
    </section>
  </section>
</body>

</html>
